<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Tour_Travel</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>registration.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registerserve</display-name>
    <servlet-name>Registerserve</servlet-name>
    <servlet-class>servlet.Registerserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerserve</servlet-name>
    <url-pattern>/Registerserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginserve</display-name>
    <servlet-name>Loginserve</servlet-name>
    <servlet-class>servlet.Loginserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserve</servlet-name>
    <url-pattern>/Loginserve</url-pattern>
  </servlet-mapping>
  <servlet>
 
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addpackage</display-name>
    <servlet-name>Addpackage</servlet-name>
    <servlet-class>servlet.Addpackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addpackage</servlet-name>
    <url-pattern>/Addpackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delpackage</display-name>
    <servlet-name>Delpackage</servlet-name>
    <servlet-class>servlet.Delpackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delpackage</servlet-name>
    <url-pattern>/Delpackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uppackage</display-name>
    <servlet-name>Uppackage</servlet-name>
    <servlet-class>servlet.Uppackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uppackage</servlet-name>
    <url-pattern>/Uppackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addhotel</display-name>
    <servlet-name>Addhotel</servlet-name>
    <servlet-class>servlet.Addhotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addhotel</servlet-name>
    <url-pattern>/Addhotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uphotel</display-name>
    <servlet-name>Uphotel</servlet-name>
    <servlet-class>servlet.Uphotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uphotel</servlet-name>
    <url-pattern>/Uphotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delhotel</display-name>
    <servlet-name>Delhotel</servlet-name>
    <servlet-class>servlet.Delhotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delhotel</servlet-name>
    <url-pattern>/Delhotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Allotment</display-name>
    <servlet-name>Allotment</servlet-name>
    <servlet-class>servlet.Allotment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Allotment</servlet-name>
    <url-pattern>/Allotment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServe</display-name>
    <servlet-name>BookingServe</servlet-name>
    <servlet-class>servlet.BookingServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServe</servlet-name>
    <url-pattern>/BookingServe</url-pattern>
  </servlet-mapping>
</web-app>